.container {
  display: flex;
    justify-content: space-between;
flex-direction: row;
background-color: #fff;
    height: 50px;
    width: auto;
    margin: 0.5% 12%;
    padding-Top: 10px;
    padding-bottom: 10px;
  }
  .left{
    display: flex;
    width: 50%;
    height: 100%;
    padding-Left: 20px;
 
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
   
  }
  .content {
    display: flex;
    align-items: flex-end;
 
    flex-direction: column;
    justify-content: center;
  }
 .title { color: #9E9E9E }
  .avatar {
    height: 50px;
    width: 50px;
    border-Radius: 50%;
    margin:0 10px;
   
  }